<br></br>


  <% form_for(@cliente, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>




