pre {
  background-color :#eee;
  padding          :10px;
  font-size        :11px;
}

.fieldWithErrors {
  padding : 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/*CODIGO QUE PERSONALIZA LA PRESENTACIÓN DE LAS TABLAS DEL FRONT-END*/
#menuhoriz ul li {
        display: inline;
        padding: 2px 7px; /*Separar el texto*/
        margin:5px; /* Separar los botones */
        background-color: #E4E4E4;/* Color de fondo */
}
#menuhoriz ul li:hover {
        background-color: #AEB404;/* Color de fondo sobre el boton */
        cursor: pointer; /* cambiar el aspecto del puntero */
}
#menuhoriz ul { /* Linea para delimitar la botonera */
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #E4E4E4;
}

table tr.pair {
    background :#E0ECF8;
    color      :inherit;
    font-family :arial;
}

table tr.odd {
    background :#E0ECF8;
    color      :inherit;
    font-family :arial;
}

#box-table-a tr:hover td {
    color       :#81BEF7;
    font-family :arial;
}

table th {
  background-color :inherit;
  font-weight      :bold;
  text-align       :left;
  font-size        :14px;
}

.piepagina
{
    border  :1px solid gray;
    padding :5px;
    width   :40%;
    margin  :auto;
    color   :gray;
}

.piepagina2
{
    border  :1px solid gray;
    padding :3px;
    width   :100%;
    margin  :auto;
    color   :gray;
}

.campo {
    border          :1px solid #bbb;
    padding-left    :4px;
    padding-right   :4px;
    padding-top     :1px;
    padding-bottom  :1px;
    font-family     :"Trebuchet MS", verdana, arial, helvetica, sans-serif;
}

h1{
    color     :#2E9AFE;
    font-size :25px;
    border    :1px;

}

#titulotr{
    background-color: #4BB0E8;
    color: black;
    font-size: 12px;
}

#showarticulo{
    border:1px solid gray;
    padding:3px;
    width:100%;
    margin:auto;
    color: gray;
}

#showcliente{
    border:1px solid gray;
    padding:3px;
    width:80%;
    margin:auto;
    color: gray;
}

#notice {
    padding: 0;
    width: 380px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px;
    border: 1px;
    background-color: transparent;
    text-align: center;
}
