<p>
  <b>Material:</b>
  <%=h @materiasprima.material %>
</p>

<p>
  <b>Articulo:</b>
  <%=h @materiasprima.articulo_id %>
</p>


<%= link_to 'Edit', edit_materiasprima_path(@materiasprima) %> |
<%= link_to 'Back', materiasprimas_path %>