 <% form_for(@articulo, :html => { :multipart => true }) do |f| %>
 <!--<#%= f.error_messages %>-->
 <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit 'Crear Artículo' %>
  </p>
<% end %>